/* Main */

/* Offer section */

/* Details section */

.section-details-pic {
}

/* What we do */

/* Section Team */

/* Section Our Partners */

/* Footer */

/* Styles of portfolio */
/* Main */

/* Buttons */

/* Photos list */

/* Footer */
.foooter-portfolio {
  left: 0px;
  top: 1600px;
  background-color: var(--section-offer-color);
}

.footer-wrapper-links {
  margin-right: 93px;
}

/* =======================Footer Form================== */

/* ::====================backdrop==================:: */
