.container {
  width: 480px;
  margin: 0 auto;
  /* padding-left: 15px; */
  padding: 0 15px;

  .header & {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
