.contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--font-description);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 16px;

  .footer & {
    padding: 0;
  }
}

.contacts-list {
  display: flex;
  list-style-type: none;

  &_item {
    display: block;
    margin-right: 15px;
  }
}
