.footer-form {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
}

.footer-form-input {
  text-indent: 16px;
  min-width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus,
.footer-form-input:hover {
  color: #ffffff;
  outline: none;
  border-color: var(--items-decor);
}

.footer-form-input:focus::placeholder,
.footer-form-input:hover::placeholder {
  color: var(--items-decor);
}

.footer-form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn {
  background-color: var(--items-decor);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-form-btn-a {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.subscribe {
  display: block;
  margin-right: 10px;
}

.footer-button-icon {
  display: block;
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
