:root {
  --grey-items: #afb1b8;
  --section-team: #f5f4fa;
  --section-offer: #2f303a;
  --items-decor: #2196f3;
  --font-description: #757575;
  --font-h-color: #212121;
}

.button-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
