.section-details {
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 270px;
  min-height: 120px;
  background-color: var(--section-team);
}

.icon {
  width: 70px;
  height: 70px;
}

.section-details-ul {
  list-style-type: none;
  display: flex;
}

.section-details-li {
  margin-right: 30px;
}
.section-details-ul-li-p {
  width: 270px;
  color: var(--font-description);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.section-details-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--font-h-color);
  text-align: left;
  margin-top: 30px;
}
