.icon {
  max-width: 480px;
  height: 70px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--section-team);
  margin-bottom: 30px;
}

.section-details {
  text-align: center;
  &-ul {
    list-style-type: none;
  }

  &-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--font-h-color);
    text-align: center;
    margin-bottom: 10px;
  }

  &-ul-li-p {
    // align-self: self-start;
    text-align: left;
    color: var(--font-description);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
