.header-nav {
  display: none;
}

.studio_label {
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.name_studio {
  color: var(--items-decor);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.contacts_header {
  display: none;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  & a:focus,
  & a:focus .contacts-item-svg,
  & a:hover,
  & a:hover .contacts-item-svg {
    color: var(--items-decor);
    fill: var(--items-decor);
  }
}

//Mobile Menu
.burger-button,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 48px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  width: 100%;
  max-width: 767px;
  height: 100%;
  transform: translateX(-50%) translateY(-200%);
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--items-decor);
}

.mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--font-description);
}
.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
  z-index: 999;
}

.burger-icon,
.burger-closer {
  height: 40px;
  width: 40px;
}

.mobile-menu-nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 47px;
  letter-spacing: 0.02em;
  & .link {
    color: var(--font-h-color);
  }

  & .active {
    color: var(--items-decor);
  }
}

.mobile-menu-social-link {
  font-size: 10px;
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  &-item:nth-child(1) {
    margin-bottom: 32px;
  }
}

.mobile-menu-social {
  display: flex;

  &_item:not(:last-child) {
    margin-right: 20px;
    position: relative;

    &:not(:last-child)::after {
      position: absolute;
      content: "";
      right: -10px;
      top: 10px;
      width: 22px;
      height: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      margin-right: -12px;
    }
  }
  &-link {
    color: var(--items-decor);
  }

  .navbar_list {
    margin-right: 84px;
  }
}

.navbar_list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navbar-item_link:hover,
.navbar-item_link:focus {
  color: var(--items-decor);
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.navbar-item_link::after {
  position: absolute;
  background-color: var(--items-decor);
  content: " ";
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--items-decor);
  &::after {
    opacity: 1;
  }
}

.navbar-item_link:hover::after,
.navbar-item_link:focus::after {
  opacity: 1;
}

//Media

@media screen and (min-width: 480px) {
  .mobile-menu-nav-item {
    font-size: 40px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .tel {
    font-size: 34px;
  }

  .mobile-menu-social-link {
    font-size: 15px;
  }
}

.mobile-menu-nav {
  margin-bottom: 50px;
}

@media screen and (min-height: 600px) {
  .mobile-menu-nav {
    margin-bottom: 150px;
  }
}
@media screen and (min-height: 750px) {
  .mobile-menu-nav {
    margin-bottom: 300px;
  }
}

@media screen and (min-width: 768px) {
  .burger-button,
  .mobile-close-btn,
  .mobile-menu {
    display: none;
  }

  .header-nav,
  .contacts_header {
    display: flex;
  }

  .studio_label {
    margin-right: 88px;
  }

  .navbar-item_link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--font-h-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navbar-item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts-item-svg {
    margin-right: 4px;
    width: 16px;
    height: 12px;
    fill: var(--font-description);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .studio_label {
    margin-right: 94px;
  }

  .navbar_list {
    margin-right: 305px;
  }

  .contacts-link {
    padding: 32px 0 32px 0;
  }
}
