.section-offer {
  background-color: var(--section-offer-color);
}

.background-offer {
  height: 400px;
  min-width: 480px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/offer-section/hero.jpg);
  padding: 120px 0;
}
.section-offer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-offer-h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.img-section-offer {
  position: relative;
}
