.section-team {
  background-color: var(--section-team);
}
.section-team-div {
  justify-content: center;
}

.section-team_card {
  margin-bottom: 30px;
  background-color: #ffffff;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
}

.section-team_card-img {
  display: inline-block;
  width: 100%;
  // max-width: 450px;
}

.team-info {
  padding: 30px 20px;
}
.name-member {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-h-color);
}

.memebers-position {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-description);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .section-team-ul {
    display: flex;
    flex-wrap: wrap;
  }

  .section-team_card:nth-child(odd) {
    margin-right: 30px;
  }
}
